@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  display: grid;
  min-height: 100vh;
  min-height: 100dvh;
}

.error {
  border: 2px solid tomato !important;
}

.success {
  border: 2px solid seagreen !important;
}

@media screen and (max-width: 768px) {
  .hide-md {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .hide-sm {
    display: none;
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}
.row .gradient {
  background: repeating-linear-gradient(-135deg, #2b2b2b 0 50px, #efefef 50px 100px);
}
.row .col {
  height: 100%;
  flex: 1 1 400px;
}

.content {
  padding: 16px;
  display: grid;
  place-items: center;
  align-content: center;
  gap: 16px;
  color: #2b2b2b;
}
.content form {
  width: min(400px, 100%);
  display: grid;
  gap: 16px;
}
.content input {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  outline: transparent;
  border: 1px solid #ccc;
}
.content input[type=submit] {
  background-color: #2b2b2b;
  color: #efefef;
  font-weight: 600;
  font-size: 16px;
}
.content .logo {
  max-width: 200px;
}
.content .logo img {
  width: 100%;
}
.content .welcome {
  font-size: 20px;
  margin-bottom: 8px;
}
.content p {
  font-size: 14px;
  color: #777;
  font-weight: 500;
}
.content p a {
  color: #2b2b2b;
  font-weight: 600;
}